[Containments][1]
byPassWM=false
isPreferredForShortcuts=false
name=Task bar left
onPrimary=false
viewType=1

[Containments][1][Applets][166][Configuration]
PreloadWeight=47

[Containments][1][Applets][190][Configuration]
PreloadWeight=92

[Containments][1][Applets][193][Configuration]
PreloadWeight=42

[Containments][1][Applets][194][Configuration]
PreloadWeight=52

[Containments][1][Applets][195][Configuration]
PreloadWeight=42

[Containments][1][Applets][196][Configuration]
PreloadWeight=42

[Containments][1][Applets][197][Configuration]
PreloadWeight=42

[Containments][1][Applets][2][Configuration]
PreloadWeight=42

[Containments][1][Applets][205][Configuration]
PreloadWeight=42

[Containments][1][Applets][225][Configuration]
PreloadWeight=42

[Containments][1][Configuration]
PreloadWeight=42

[Containments][1][General]
alignment=10
alignmentUpgraded=true
appletOrder=190;197;225;205;2;166;195;194;196;193
appletShadowsEnabled=false
autoSizeEnabled=false
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=36
inConfigureAppletsMode=true
lastDodgeVisibilityMode=4
lengthExtMargin=10
minLength=100
panelSize=100
panelTransparency=90
plasmaBackgroundForPopups=true
shadowColorType=Theme
shadowOpacity=60
shadowSize=45
shadowsUpgraded=true
splitterPosition=5
splitterPosition2=7
tasksUpgraded=true
titleTooltips=false
zoomLevel=0

[Containments][12]
PreloadWeight=42

[Containments][12][Applets][228][Configuration]
PreloadWeight=42

[Containments][12][Applets][40][Configuration]
PreloadWeight=42

[Containments][12][Applets][41][Configuration]
PreloadWeight=81

[Containments][12][Applets][42][Configuration]
PreloadWeight=42

[Containments][12][Applets][43][Configuration]
PreloadWeight=42

[Containments][12][Applets][44][Configuration]
PreloadWeight=42

[Containments][12][Applets][45][Configuration]
PreloadWeight=42

[Containments][12][Applets][46][Configuration]
PreloadWeight=42

[Containments][12][Applets][47][Configuration]
PreloadWeight=42

[Containments][12][Applets][48][Configuration]
PreloadWeight=42

[Containments][12][Applets][49][Configuration]
PreloadWeight=42

[Containments][12][Applets][51][Configuration]
PreloadWeight=42

[Containments][12][Applets][52][Configuration]
PreloadWeight=42

[Containments][13][Applets][226][Configuration]
PreloadWeight=42

[Containments][13][Applets][54][Configuration]
PreloadWeight=42

[Containments][13][Applets][54][Configuration][ConfigDialog]
DialogHeight=503
DialogWidth=948

[Containments][13][Applets][56][Configuration]
PreloadWeight=42

[Containments][13][Applets][57][Configuration]
PreloadWeight=42

[Containments][13][Applets][58][Configuration]
PreloadWeight=42

[Containments][13][Applets][60][Configuration]
PreloadWeight=42

[Containments][13][Applets][61][Configuration]
PreloadWeight=0

[Containments][13][Applets][63][Configuration]
PreloadWeight=7

[Containments][13][Applets][64][Configuration]
PreloadWeight=92

[Containments][13][Applets][65][Configuration]
PreloadWeight=92

[Containments][13][Configuration]
PreloadWeight=42

[Containments][13][General]
alignment=10
alignmentUpgraded=true
appletOrder=64;57;226;54;56;65;60;61;58;63
appletShadowsEnabled=false
autoSizeEnabled=false
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=36
inConfigureAppletsMode=true
lastDodgeVisibilityMode=4
lengthExtMargin=10
minLength=100
panelSize=100
panelTransparency=90
plasmaBackgroundForPopups=true
shadowColorType=Theme
shadowOpacity=60
shadowSize=45
shadowsUpgraded=true
splitterPosition=5
splitterPosition2=7
tasksUpgraded=true
titleTooltips=false
zoomLevel=0

[Containments][167]
PreloadWeight=42

[Containments][167][Applets][168][Configuration]
PreloadWeight=42

[Containments][167][Applets][169][Configuration]
PreloadWeight=42

[Containments][167][Applets][170][Configuration]
PreloadWeight=42

[Containments][167][Applets][171][Configuration]
PreloadWeight=42

[Containments][167][Applets][173][Configuration]
PreloadWeight=42

[Containments][167][Applets][174][Configuration]
PreloadWeight=42

[Containments][167][Applets][175][Configuration]
PreloadWeight=42

[Containments][167][Applets][178][Configuration]
PreloadWeight=92

[Containments][167][Applets][180][Configuration]
PreloadWeight=42

[Containments][167][Applets][183][Configuration]
PreloadWeight=0

[Containments][167][Applets][208][Configuration]
PreloadWeight=42

[Containments][167][Applets][222][Configuration]
PreloadWeight=83

[Containments][167][Applets][227][Configuration]
PreloadWeight=42
