[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=12
location=4
name=Tasks
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=900
timerShow=400
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][166]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][166][Configuration]
PreloadWeight=100
SystrayContainmentId=167

[Containments][1][Applets][190]
immutability=1
plugin=org.kde.plasma.kickerdash

[Containments][1][Applets][190][Configuration]
PreloadWeight=100

[Containments][1][Applets][190][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][1][Applets][190][Configuration][General]
customButtonImage=/mnt/data/OneDrive/Misc/Pumpkin/Pumpkin.png
favoriteSystemActions=logout
favoritesPortedToKAstats=true

[Containments][1][Applets][193]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][1][Applets][193][Configuration]
PreloadWeight=70

[Containments][1][Applets][193][Configuration][Appearance]
customDateFormat=d MMMM
dateFormat=custom

[Containments][1][Applets][193][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][1][Applets][194]
immutability=1
plugin=org.kde.plasma.weather

[Containments][1][Applets][194][Configuration]
PreloadWeight=90
showHumidityInTooltip=false
showPressureInTooltip=false
showTemperatureInCompactMode=false
showTemperatureInTooltip=true
showWindInTooltip=false
source=wettercom|weather|Valenciennes, Nord-Pas-de-Calais, FR|FR0NC0361;Valenciennes
updateInterval=30
weatherServiceProviders=wettercom

[Containments][1][Applets][194][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][1][Applets][195]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][196]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][199]
immutability=1
plugin=org.kde.plasma.systemmonitor

[Containments][1][Applets][199][Configuration][Appearance]
chartFace=org.kde.ksysguard.piechart
showTitle=false
title=Utilisation globale du processeur

[Containments][1][Applets][199][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=939

[Containments][1][Applets][199][Configuration][SensorColors]
cpu/all/usage=239,146,117
disk/0111-e0fe/usedPercent=149,239,117
disk/all/usedPercent=207,117,239
disk/b7f45713-d7aa-46b7-a129-a737056928b7/usedPercent=117,210,239
disk/c73b7abe-f5de-4d76-98c9-9a43a0b63cc8/usedPercent=239,146,117

[Containments][1][Applets][199][Configuration][Sensors]
highPrioritySensorIds=["cpu/all/usage"]
lowPrioritySensorIds=["cpu/all/cpuCount","cpu/all/coreCount"]
totalSensors=["cpu/all/usage"]

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
hoverAction=PreviewWindows
isInLatteDock=true
launchers59=applications:org.kde.dolphin.desktop,applications:systemsettings.desktop,applications:microsoft-edge.desktop,[90add256-5e22-422a-ad67-65276f069802]\napplications:msedge-hbjgkdoengfldnodaeiiapndkpeolnhi-Default.desktop,[90add256-5e22-422a-ad67-65276f069802]\napplications:custom-shadow.desktop,[90add256-5e22-422a-ad67-65276f069802]\napplications:discord.desktop
manualScrollTasksType=Disabled
previewWindowAsPopup=true

[Containments][1][Applets][200]
immutability=1
plugin=org.kde.plasma.systemmonitor

[Containments][1][Applets][200][Configuration][Appearance]
chartFace=org.kde.ksysguard.piechart
title=Utilisation de la mémoire

[Containments][1][Applets][200][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][1][Applets][200][Configuration][SensorColors]
memory/physical/used=239,146,117

[Containments][1][Applets][200][Configuration][Sensors]
highPrioritySensorIds=["memory/physical/used"]
lowPrioritySensorIds=["memory/physical/total"]
totalSensors=["memory/physical/usedPercent"]

[Containments][1][Applets][201]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=190;201;199;200;2;166;195;194;196;193
appletShadowsEnabled=false
autoSizeEnabled=false
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=36
inConfigureAppletsMode=true
lastDodgeVisibilityMode=4
lengthExtMargin=10
minLength=100
panelSize=100
panelTransparency=70
plasmaBackgroundForPopups=true
shadowColorType=Theme
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
splitterPosition=5
splitterPosition2=7
tasksUpgraded=true
titleTooltips=false
zoomLevel=2

[Containments][1][Indicator]
customType=org.kde.latte.dashtopanel
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.dashtopanel

[Containments][1][Indicator][org.kde.latte.dashtopanel][General]
maxBackgroundOpacity=0

[Containments][1][Indicator][org.kde.latte.unity][General]
lengthPadding=0.2

[Containments][167]
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][167][Applets][168]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][167][Applets][169]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][167][Applets][170]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][167][Applets][171]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][167][Applets][172]
immutability=1
plugin=org.kde.kdeconnect

[Containments][167][Applets][173]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][167][Applets][174]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][167][Applets][175]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][167][Applets][176]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][167][Applets][177][Configuration]
PreloadWeight=42

[Containments][167][Applets][178]
immutability=1
plugin=org.kde.plasma.volume

[Containments][167][Applets][179]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][167][Applets][180]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][167][Applets][181]
immutability=1
plugin=org.kde.plasma.mediacontroller_plus

[Containments][167][Applets][181][Configuration]
PreloadWeight=60

[Containments][167][Applets][182][Configuration]
PreloadWeight=42

[Containments][167][Applets][183]
immutability=1
plugin=org.kde.plasma.battery

[Containments][167][Applets][184][Configuration]
PreloadWeight=42

[Containments][167][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][167][General]
extraItems=org.kde.plasma.mediacontroller_plus,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.manage-inputmethod,org.kde.kdeconnect,org.kde.plasma.bluetooth,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.networkmanagement,org.kde.plasma.printmanager,org.kde.plasma.volume,org.kde.plasma.nightcolorcontrol
hiddenItems=Optimus Manager Qt,Yakuake,org.kde.plasma.printmanager
knownItems=org.kde.plasma.mediacontroller_plus,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.manage-inputmethod,org.kde.kdeconnect,org.kde.plasma.bluetooth,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.networkmanagement,org.kde.plasma.nightcolorcontrol,org.kde.plasma.printmanager,org.kde.plasma.vault,org.kde.plasma.volume
shownItems=org.kde.plasma.volume

[LayoutSettings]
background=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=90add256-5e22-422a-ad67-65276f069802
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
textColor=fcfcfc
version=2
