[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=12
location=4
maxLength=100
name=Tasks
onPrimary=false
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=900
timerShow=400
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][166]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][166][Configuration]
PreloadWeight=100
SystrayContainmentId=167

[Containments][1][Applets][190]
immutability=1
plugin=org.kde.plasma.kickerdash

[Containments][1][Applets][190][Configuration]
PreloadWeight=100

[Containments][1][Applets][190][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=639

[Containments][1][Applets][190][Configuration][General]
customButtonImage=/mnt/data/OneDrive/Misc/Pumpkin/Pumpkin.png
favoriteSystemActions=logout
favoritesPortedToKAstats=true
useExtraRunners=false

[Containments][1][Applets][193]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][1][Applets][193][Configuration]
PreloadWeight=37

[Containments][1][Applets][193][Configuration][Appearance]
customDateFormat=d MMMM
dateFormat=custom

[Containments][1][Applets][193][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][1][Applets][194]
immutability=1
plugin=org.kde.plasma.weather

[Containments][1][Applets][194][Configuration]
PreloadWeight=30
showHumidityInTooltip=false
showPressureInTooltip=false
showTemperatureInCompactMode=false
showTemperatureInTooltip=true
showWindInTooltip=false
source=wettercom|weather|Valenciennes, Nord-Pas-de-Calais, FR|FR0NC0361;Valenciennes
updateInterval=30
weatherServiceProviders=wettercom

[Containments][1][Applets][194][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][1][Applets][195]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][195][Configuration]
PreloadWeight=0

[Containments][1][Applets][196]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][196][Configuration]
PreloadWeight=0

[Containments][1][Applets][197]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][197][Configuration]
PreloadWeight=0

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
hoverAction=PreviewWindows
isInLatteDock=true
launchers59=applications:org.kde.dolphin.desktop,applications:systemsettings.desktop,applications:microsoft-edge.desktop
launchersGroup=Global
manualScrollTasksType=Disabled
previewWindowAsPopup=true

[Containments][1][Applets][205]
immutability=1
plugin=org.kde.plasma.mediacontrollercompact

[Containments][1][Applets][205][Configuration]
PreloadWeight=0

[Containments][1][Applets][205][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][1][Applets][205][Configuration][General]
widgetWidth=250

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=190;197;205;2;166;195;194;196;193
appletShadowsEnabled=false
autoSizeEnabled=false
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=36
inConfigureAppletsMode=true
lastDodgeVisibilityMode=4
lengthExtMargin=10
minLength=100
panelSize=100
panelTransparency=70
plasmaBackgroundForPopups=true
screenEdgeMargin=-1
shadowColorType=Theme
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
splitterPosition=4
splitterPosition2=6
tasksUpgraded=true
titleTooltips=false
zoomLevel=2

[Containments][1][Indicator]
customType=org.kde.latte.dashtopanel
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.dashtopanel][General]
maxBackgroundOpacity=0

[Containments][1][Indicator][org.kde.latte.unity][General]
lengthPadding=0.2

[Containments][13]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=13
layoutId=
location=4
maxLength=100
name=Tasks - 2
onPrimary=false
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=900
timerShow=400
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][13][Applets][206]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][13][Applets][206][Configuration]
PreloadWeight=100
SystrayContainmentId=207

[Containments][13][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][13][Applets][57][Configuration]
PreloadWeight=0

[Containments][13][Applets][57][Configuration][General]
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
hoverAction=PreviewWindows
isInLatteDock=true
launchers59=applications:org.kde.dolphin.desktop,applications:systemsettings.desktop,applications:microsoft-edge.desktop
launchersGroup=Global
manualScrollTasksType=Disabled
previewWindowAsPopup=true

[Containments][13][Applets][58]
immutability=1
plugin=org.kde.plasma.mediacontrollercompact

[Containments][13][Applets][58][Configuration]
PreloadWeight=0

[Containments][13][Applets][58][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][58][Configuration][General]
widgetWidth=250

[Containments][13][Applets][59]
immutability=1
plugin=org.kde.plasma.kickerdash

[Containments][13][Applets][59][Configuration]
PreloadWeight=12

[Containments][13][Applets][59][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=639

[Containments][13][Applets][59][Configuration][General]
customButtonImage=/mnt/data/OneDrive/Misc/Pumpkin/Pumpkin.png
favoriteSystemActions=logout
favoritesPortedToKAstats=true
useExtraRunners=false

[Containments][13][Applets][60]
immutability=1
plugin=org.kde.latte.separator

[Containments][13][Applets][60][Configuration]
PreloadWeight=0

[Containments][13][Applets][62]
immutability=1
plugin=org.kde.plasma.weather

[Containments][13][Applets][62][Configuration]
PreloadWeight=20
showHumidityInTooltip=false
showPressureInTooltip=false
showTemperatureInCompactMode=false
showTemperatureInTooltip=true
showWindInTooltip=false
source=wettercom|weather|Valenciennes, Nord-Pas-de-Calais, FR|FR0NC0361;Valenciennes
updateInterval=30
weatherServiceProviders=wettercom

[Containments][13][Applets][62][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][65]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][13][Applets][65][Configuration]
PreloadWeight=22

[Containments][13][Applets][65][Configuration][Appearance]
customDateFormat=d MMMM
dateFormat=custom

[Containments][13][Applets][65][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][84]
immutability=1
plugin=org.kde.latte.separator

[Containments][13][Applets][84][Configuration]
PreloadWeight=0

[Containments][13][Applets][85]
immutability=1
plugin=org.kde.latte.separator

[Containments][13][Applets][85][Configuration]
PreloadWeight=0

[Containments][13][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][13][Configuration]
PreloadWeight=0

[Containments][13][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=59;60;58;57;206;84;62;85;65
appletShadowsEnabled=false
autoSizeEnabled=false
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=36
inConfigureAppletsMode=true
lastDodgeVisibilityMode=4
lengthExtMargin=10
minLength=100
panelSize=100
panelTransparency=70
plasmaBackgroundForPopups=true
screenEdgeMargin=-1
shadowColorType=Theme
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
splitterPosition=4
splitterPosition2=6
tasksUpgraded=true
titleTooltips=false
zoomLevel=2

[Containments][13][Indicator]
customType=org.kde.latte.dashtopanel
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][13][Indicator][org.kde.latte.dashtopanel][General]
maxBackgroundOpacity=0

[Containments][13][Indicator][org.kde.latte.unity][General]
lengthPadding=0.2

[Containments][14]
PreloadWeight=34
activityId=
formfactor=2
immutability=1
lastScreen=12
layoutId=
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][14][Applets][207]
immutability=1
plugin=org.kde.kdeconnect

[Containments][14][Applets][207][Configuration]
PreloadWeight=34

[Containments][14][Applets][223]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][14][Applets][223][Configuration]
PreloadWeight=0

[Containments][14][Applets][43]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][14][Applets][43][Configuration]
PreloadWeight=0

[Containments][14][Applets][50]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][14][Applets][50][Configuration]
PreloadWeight=0

[Containments][14][Applets][63]
immutability=1
plugin=org.kde.plasma.mediacontroller_plus

[Containments][14][Applets][63][Configuration]
PreloadWeight=0

[Containments][14][Applets][64]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][14][Applets][64][Configuration]
PreloadWeight=0

[Containments][14][Applets][66]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][14][Applets][66][Configuration]
PreloadWeight=0

[Containments][14][Applets][67]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][14][Applets][67][Configuration]
PreloadWeight=0

[Containments][14][Applets][69]
immutability=1
plugin=org.kde.plasma.battery

[Containments][14][Applets][69][Configuration]
PreloadWeight=0

[Containments][14][Applets][70]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][14][Applets][70][Configuration]
PreloadWeight=0

[Containments][14][Applets][71]
immutability=1
plugin=org.kde.plasma.volume

[Containments][14][Applets][71][Configuration]
PreloadWeight=0

[Containments][14][Applets][72]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][14][Applets][72][Configuration]
PreloadWeight=0

[Containments][14][Applets][73]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][14][Applets][73][Configuration]
PreloadWeight=0

[Containments][14][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Configuration]
PreloadWeight=0

[Containments][14][General]
extraItems=org.kde.plasma.mediacontroller_plus,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.manage-inputmethod,org.kde.plasma.bluetooth,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.networkmanagement,org.kde.plasma.volume,org.kde.plasma.nightcolorcontrol,org.kde.kdeconnect
hiddenItems=Optimus Manager Qt,Yakuake,org.kde.plasma.printmanager,org.kde.plasma.keyboardlayout
knownItems=org.kde.plasma.mediacontroller_plus,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.manage-inputmethod,org.kde.plasma.bluetooth,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.networkmanagement,org.kde.plasma.nightcolorcontrol,org.kde.plasma.volume,org.kde.kdeconnect
shownItems=org.kde.plasma.volume

[Containments][167]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=12
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][167][Applets][168]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][167][Applets][168][Configuration]
PreloadWeight=22

[Containments][167][Applets][169]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][167][Applets][169][Configuration]
PreloadWeight=17

[Containments][167][Applets][170]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][167][Applets][170][Configuration]
PreloadWeight=92

[Containments][167][Applets][171]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][167][Applets][171][Configuration]
PreloadWeight=0

[Containments][167][Applets][173]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][167][Applets][173][Configuration]
PreloadWeight=0

[Containments][167][Applets][174]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][167][Applets][174][Configuration]
PreloadWeight=0

[Containments][167][Applets][175]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][167][Applets][175][Configuration]
PreloadWeight=0

[Containments][167][Applets][178]
immutability=1
plugin=org.kde.plasma.volume

[Containments][167][Applets][178][Configuration]
PreloadWeight=100

[Containments][167][Applets][178][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][167][Applets][180]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][167][Applets][180][Configuration]
PreloadWeight=74

[Containments][167][Applets][181]
immutability=1
plugin=org.kde.plasma.mediacontroller_plus

[Containments][167][Applets][181][Configuration]
PreloadWeight=0

[Containments][167][Applets][183]
immutability=1
plugin=org.kde.plasma.battery

[Containments][167][Applets][183][Configuration]
PreloadWeight=17

[Containments][167][Applets][208]
immutability=1
plugin=org.kde.kdeconnect

[Containments][167][Applets][208][Configuration]
PreloadWeight=34

[Containments][167][Applets][222]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][167][Applets][222][Configuration]
PreloadWeight=100

[Containments][167][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][167][General]
extraItems=org.kde.plasma.mediacontroller_plus,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.manage-inputmethod,org.kde.plasma.bluetooth,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.networkmanagement,org.kde.plasma.volume,org.kde.plasma.nightcolorcontrol,org.kde.kdeconnect
hiddenItems=Optimus Manager Qt,Yakuake,org.kde.plasma.printmanager,org.kde.plasma.keyboardlayout
knownItems=org.kde.plasma.mediacontroller_plus,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.manage-inputmethod,org.kde.plasma.bluetooth,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.networkmanagement,org.kde.plasma.nightcolorcontrol,org.kde.plasma.volume,org.kde.kdeconnect
shownItems=org.kde.plasma.volume

[Containments][207]
PreloadWeight=2
activityId=
formfactor=2
immutability=1
lastScreen=13
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][207][Applets][208]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][207][Applets][208][Configuration]
PreloadWeight=12

[Containments][207][Applets][209]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][207][Applets][209][Configuration]
PreloadWeight=52

[Containments][207][Applets][210]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][207][Applets][210][Configuration]
PreloadWeight=2

[Containments][207][Applets][211]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][207][Applets][211][Configuration]
PreloadWeight=97

[Containments][207][Applets][212]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][207][Applets][212][Configuration]
PreloadWeight=2

[Containments][207][Applets][213]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][207][Applets][213][Configuration]
PreloadWeight=2

[Containments][207][Applets][214]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][207][Applets][214][Configuration]
PreloadWeight=2

[Containments][207][Applets][215]
immutability=1
plugin=org.kde.plasma.volume

[Containments][207][Applets][215][Configuration]
PreloadWeight=100

[Containments][207][Applets][216]
immutability=1
plugin=org.kde.kdeconnect

[Containments][207][Applets][216][Configuration]
PreloadWeight=2

[Containments][207][Applets][217]
immutability=1
plugin=org.kde.plasma.battery

[Containments][207][Applets][217][Configuration]
PreloadWeight=47

[Containments][207][Applets][218]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][207][Applets][218][Configuration]
PreloadWeight=27

[Containments][207][Applets][220]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][207][Applets][220][Configuration]
PreloadWeight=2

[Containments][207][Applets][221]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][207][Applets][221][Configuration]
PreloadWeight=0

[Containments][207][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][207][General]
extraItems=org.kde.plasma.bluetooth,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.manage-inputmethod,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol,org.kde.plasma.keyboardlayout,org.kde.plasma.networkmanagement,org.kde.plasma.volume,org.kde.kdeconnect
knownItems=org.kde.plasma.mediacontroller_plus,org.kde.plasma.bluetooth,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.manage-inputmethod,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol,org.kde.plasma.keyboardlayout,org.kde.plasma.networkmanagement,org.kde.plasma.volume,org.kde.kdeconnect

[LayoutSettings]
background=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=28ca905a-9d0b-4f15-8c5e-7ff9c836cb35
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
textColor=fcfcfc
version=2
