wallpapers:
  general:
  slideshow_delay: 600
  lockscreen:
  lockscreen_slideshow_delay: 60
  lockscreen_converted:
system:
  dim_screen_delay: 300
  lock_session_delay: 360
  sleep_delay: 300
