[Unit]
Description=Start audio loopback for chat
Requires=pipewire.service pipewire-pulse.service

[Service]
Type=simple
ExecStart=/usr/bin/pw-loopback -m '[ FL FR ]' --capture-props='media.class=Audio/Sink node.name=chat-sink node.description=Chat'

[Install]
WantedBy=default.target